<launch>

	<!-- Turtlesim Node-->
	<!--node pkg="gaofen2020" type="decisionV1" name="decisionV1" output="screen"/-->

	<!--node pkg="gaofen2020" type="gf_actuator" name="gf_actuator" output="screen"/-->

	<node pkg="pva_tracker" type="tracker" name="tracker" />

	<node pkg="pva_tracker" type="tracker" name="tracker" />





</launch>
